.cards{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    gap: 20px;
}

#sum{
    display: flex;
    padding: 50px 10vw 0 10vw;
    flex-direction: column;
}

#to_form_card{
    margin-bottom: 20px;
    max-width: 120px;
    color: white;
}
#to_form_card span{
    font-size: 22px;
    height: 31px;
}

.front{
    border-radius: 10px;
    padding: 5px 0;
}
.card{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    border-radius: 12px;
    transition: 0.2s;
}
.card:hover{
    scale: 1.01;
}

.card header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 3px 7px;
    border-radius: 12px;
}
.card header #one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.dane{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    color: white;
}


.dane h2{
    z-index: 2;
    font-size: 18px;
}
.dane h3{
    margin-left: 3px;
    z-index: 2;
    font-size: 18px;
}

.card header #two{
    padding: 3px 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card h2,h3,h4{
    margin: 0;
    font-weight: 500;
}
header h2{
    font-size: 20px;
}

.card h5{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.89);
    margin: 0;
}


#chech{
    position: absolute;
    scale: 0;
}

.card :is(h4,p){
    opacity: 0.7;
    font-size: 20px;
}
.card p{
    margin-top: 36px;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 1px 0;
}
