#form_box{
    display: flex;
    justify-content: center;
}

#form_list{
    display: flex;
    padding: 0 10vw;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
#form_list h1{
    max-width: 300px;
}
#form_list input{
    max-width: 300px;
    height: 40px;
    font-weight: 500;
    background: none;
    outline: 1px;
}
#date{
    margin-left: 15px;
    width: 110px;
}
#form_list button{
    max-width: 100px;
    font-weight: 500;
}

#form_list #box{
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: 300px;
    padding: 2px 10px;
}

#space{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    font-weight: 500;
}
#space a{
    height: 24px;
    
}

#space button{
    font-weight: 500;
}